#!/bin/bash
echo -e "\e[36m==================================================\e[0m"
echo -e "\e[1;32m                 UFW Quick Usage                  \e[0m"
echo -e "\e[36m==================================================\e[0m"
echo -e " \e[1mStatus :\e[0m \e[32msudo ufw status verbose\e[0m"
echo -e " \e[1mAllow  :\e[0m \e[32msudo ufw allow <port>/tcp\e[0m"
echo -e " \e[1mDelete :\e[0m \e[32msudo ufw status numbered\e[0m then \e[32msudo ufw delete <num>\e[0m"
echo -e " \e[1mDisable:\e[0m \e[32msudo ufw disable\e[0m"
echo -e " \e[1mConfig :\e[0m sudo nano ${CONFIG_FILE}"
echo -e "\e[36m==================================================\e[0m"
echo ""
