services:
  mongodb:
    image: mongo:${MONGO_VERSION}
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    command: ["mongod", "--port", "${PORT}", "--bind_ip_all"]
    ports:
      - "${BIND_IP}:${PORT}:${PORT}"
    networks:
      - ${NETWORK_NAME}

networks:
  ${NETWORK_NAME}:
    external: true