CONFIGURED_AT="${CONFIGURED_AT}"
SERVICE="mongodb"
INSTALL_METHOD="${INSTALL_METHOD}"
PORT="${PORT}"
BIND_IP="${BIND_IP}"

CLEANUP_COMMAND="${CLEANUP_COMMAND}"

#Optional
DOCKER_CONTAINER_NAME="${DOCKER_CONTAINER_NAME}" 
DOCKER_NETWORK_NAME="${DOCKER_NETWORK_NAME}" 

