#!/bin/bash
echo -e "\e[36m==================================================\e[0m"
echo -e "\e[1;32m               MongoDB Quick Usage                \e[0m"
echo -e "\e[36m==================================================\e[0m"
echo -e " \e[1mRestart:\e[0m \e[32m${RESTART_COMMAND}\e[0m"
echo -e " \e[1mStatus :\e[0m \e[32m${STATUS_COMMAND}\e[0m"
echo -e " \e[1mCleanup :\e[0m \e[32m${CLEANUP_COMMAND}\e[0m"
echo -e " \e[1mLogs   :\e[0m \e[32m${LOGS_COMMAND}\e[0m"
echo -e " \e[1mShell  :\e[0m \e[32m${SHELL_COMMAND}\e[0m"
echo -e " \e[1mConfig :\e[0m sudo nano ${CONFIG_FILE}"
echo -e "\e[36m==================================================\e[0m"
echo ""
