services:
  nginx:
    image: nginx:stable-alpine
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${NGINX_CONFIG_DIR}:/etc/nginx/conf.d:ro
      - ${LOCATIONS_DIR}:${LOCATIONS_DIR}:ro
      - ${CERTS_DIR}:${CERTS_DIR}:ro
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "2"
    networks:
      - ${NETWORK_NAME}

networks:
  ${NETWORK_NAME}:
    external: true
