#!/bin/bash
echo -e "\e[36m==================================================\e[0m"
echo -e "\e[1;32m                   Nginx Usage                    \e[0m"
echo -e " \e[1mDomain :\e[0m https://${SERVER_NAME}"
echo -e " \e[1mRestart:\e[0m \e[32m${RESTART_COMMAND}\e[0m"
echo -e " \e[1mTest   :\e[0m \e[32m${TEST_COMMAND}\e[0m"
echo -e " \e[1mStatus :\e[0m \e[32m${STATUS_COMMAND}\e[0m"
echo -e " \e[1mCleanup:\e[0m \e[32m${CLEANUP_COMMAND}\e[0m"
[ -n "${FIREWALL_INFO}" ] && echo -e " \e[1mFirewall:\e[0m ${FIREWALL_INFO}"
echo -e " \e[1mLogs   :\e[0m \e[32m${LOGS_COMMAND}\e[0m"
echo -e " \e[1mConfig :\e[0m ${CONFIG_FILE}"
echo -e " \e[1mAdd loc:\e[0m ${LOCATIONS_DIR}/<name>.conf"
echo -e "\e[36m==================================================\e[0m"
echo ""
