CONFIGURED_AT="${CONFIGURED_AT}"
SERVICE="nginx"

INSTALL_METHOD="${INSTALL_METHOD}"
SERVER_NAME="${SERVER_NAME}"
CLOUDFLARE="${CLOUDFLARE}"
CLIENT_MAX_BODY_SIZE="${CLIENT_MAX_BODY_SIZE}"

LOCATIONS_DIR="${LOCATIONS_DIR}"
CERTS_DIR="${CERTS_DIR}"

RESTART_COMMAND="${RESTART_COMMAND}"
CLEANUP_COMMAND="${CLEANUP_COMMAND}"

#Optional
DOCKER_CONTAINER_NAME="${DOCKER_CONTAINER_NAME}"
DOCKER_NETWORK_NAME="${DOCKER_NETWORK_NAME}"
